---
version: "2.0"

services:
  sftpgo:
    build:
      context: .
      dockerfile: sftpgo/Dockerfile
      args:
        SFTP_PORT: "$SFTP_PORT"
        SFTPGO_ADMIN_UI_PORT: "$SFTPGO_ADMIN_UI_PORT"
        SFTPGO_VAULT: "$SFTPGO_VAULT"
    environment:
      - "SFTPGO_DEFAULT_ADMIN_USERNAME=$SFTPGO_ADMIN_USER"
      - "SFTPGO_DEFAULT_ADMIN_PASSWORD=$SFTPGO_ADMIN_PASSWORD"
      - "IRODS_PROXY_USER=$IRODS_PROXY_USER"
      - "IRODS_PROXY_PASSWORD=$IRODS_PROXY_PASSWORD"
      - "IRODS_HOST=$IRODS_HOST"
      - "IRODS_PORT=$IRODS_PORT"
      - "IRODS_ZONE=$IRODS_ZONE"
    ports:
      - "$SFTP_PORT:$SFTP_PORT"
      - "$SFTPGO_ADMIN_UI_PORT:$SFTPGO_ADMIN_UI_PORT"
    volumes:
      - "sftpgo_home_volume:$SFTPGO_VAULT"
  
volumes:
  sftpgo_home_volume: